.burger {
  display: none;
  position: relative;
  @extend %reset-margin-padding;
  margin-inline-start: auto;
  width: 22px;
  height: 22px;
  border: none;
  background: var(--color-page);
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 3px;
    background: var(--color-black);
    box-shadow: 0 8px 0 var(--color-black), 0 16px 0 var(--color-black);
    transition: opacity 0.2s linear;
  }
  &__close::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background: no-repeat center #{var(--close-icon)};
    transition: opacity 0.2s linear;
    box-shadow: none;
  }
  &:hover::before {
    opacity: 0.75;
  }
  @include media("md") {
    display: block;
  }
}
