.button-gradient {
  margin-block-end: 170px;
  grid-row: 3;
  width: $width-button;
  height: fit-content;
  @include media("xxl") {
    margin-block-end: 6vw;
  }
  @include media("md") {
    margin-block-end: 40px;
    width: 100%;
  }

  border: none;
  @extend %reset-margin-padding;
  width: $width-button;
  overflow: hidden;
  position: relative;
  background: transparent;
  min-height: 50px;
  border-radius: 4px;
  cursor: pointer;
  @include font-set(14px, 18px, 600, $color-white, 1px);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    @extend %button-hover;
    transition: left 0.3s linear;
    z-index: -1;
  }
  &:hover::before {
    left: 0;
  }
  @include media("md") {
    min-height: 46px;
    width: 100%;
    font-size: 13px;
    line-height: 19px;
  }
}
