.header {
  &__navigation {
    padding-block-start: 25px;
    padding-block-end: 27px;
  }
  &__menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    @extend %reset-margin-padding;
    @include media("md") {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-block-start: 100px;
    }
  }
  &__menu-container {
    @include media("md") {
      display: none;
    }
  }
  &__menu-container_active {
    display: block;
  }
  &__menu-link {
    text-decoration: none;
    transition: opacity 0.2s linear;
    @include font-set(14px, 18px, 500, var(--color-black), 0);
    @include media("md") {
      @include font-set(18px, 18px, 500, var(--color-black), 0);
    }
  }
  &__menu-link:hover {
    opacity: 0.75;
  }
  &__menu-item {
    margin-inline-end: 34px;
    @include media("md") {
      margin: 0;
      margin-block-end: 31px;
    }
  }
  &__menu-item:last-child {
    margin: 0;
    @include media("md") {
      margin-block-end: 304px;
    }
  }
}
