.select-road {
  padding-block-end: 65px;
  @include media("md") {
    padding-block-start: 40px;
    padding-block-end: 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 40px;
      left: 18px;
      width: calc(100% - 36px);
      height: 1px;
      background: $color-line;
    }
  }
}
