@import url(../vendor/normalize.css);
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url(../vendor/fonts/Inter-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url(../vendor/fonts/Inter-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url(../vendor/fonts/Inter-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url(../vendor/fonts/Inter-Bold.woff2) format("woff2");
}
:root {
  --color-page: #f4f4f4;
  --color-switcher-bg: #fff;
  --color-title: #151515;
  --color-burger: #151515;
}

:root {
  --left: 0;
}

:root {
  --close-icon: url(../images/close.svg);
}

.page {
  max-width: 1440px;
  min-width: 320px;
  background: var(--color-page);
}
.page__centering {
  margin: 0 auto;
}
.page__content-center {
  padding-inline-start: 120px;
  padding-inline-end: 120px;
}
@media screen and (max-width: 768px) {
  .page__content-center {
    padding-inline-start: 18px;
    padding-inline-end: 18px;
  }
}
.page__content-right {
  padding-inline-start: 120px;
}
@media screen and (max-width: 768px) {
  .page__content-right {
    padding-inline-start: 18px;
  }
}

.header__navigation {
  padding-block-start: 28px;
  padding-block-end: 28px;
}
.header__menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .header__menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header__menu-container {
    display: none;
  }
}
.header__menu-container_active {
  display: block;
}
.header__menu-link {
  text-decoration: none;
  transition: opacity 0.2s linear;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-title);
}
@media screen and (max-width: 768px) {
  .header__menu-link {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: var(--color-title);
  }
}
.header__menu-link:hover {
  opacity: 0.75;
}
.header__menu-item {
  margin-inline-end: 34px;
}
@media screen and (max-width: 768px) {
  .header__menu-item {
    margin: 0;
    margin-block-end: 31px;
  }
}
.header__menu-item:last-child {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .header__menu-item:last-child {
    margin-block-end: 304px;
  }
}

.burger {
  display: none;
  position: relative;
  padding: 0;
  margin-inline-start: auto;
  width: 22px;
  height: 22px;
  border: none;
  background: var(--color-page);
  cursor: pointer;
}
.burger__triple-lines::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 3px;
  background: var(--color-burger);
  box-shadow: 0 8px 0 var(--color-burger), 0 16px 0 var(--color-burger);
  transition: opacity 0.2s linear;
}
.burger__close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background: no-repeat center var(--close-icon);
  transition: opacity 0.2s linear;
}
.burger:hover::before {
  opacity: 0.75;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}

.switcher-thems {
  width: 140px;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
.switcher-thems__image {
  display: inline-block;
  vertical-align: middle;
}
.switcher-thems__switcher {
  width: 44px;
  height: 24px;
  background: var(--color-switcher-bg);
  border-radius: 9999px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.switcher-thems__switcher::before {
  content: "";
  position: absolute;
  top: 2px;
  border-radius: 50%;
  left: var(--left);
  background: #24b47e;
  width: 20px;
  height: 20px;
}
.switcher-thems__checkbox {
  display: none;
}
@media screen and (max-width: 768px) {
  .switcher-thems {
    display: flex;
  }
}