:root {
  --color-page: #f4f4f4;
  --color-switcher-bg: #fff;
  --color-black: #151515;
  --color-grey: #222;
  --color-bike-name-line: #d7d4d4;
  --color-arrow-bg: rgba(235, 235, 235, 1);
  --color-arrow-bg-opacity: rgba(235, 235, 235, 0.6);
}

:root {
  --left: 0;
}

:root {
  --close-icon: url("../images/close.svg");
  --road-icon: url("../images/highway-line.svg");
}

:root {
  --time-change-image: 0.4s;
}